<!-- <li class="menu__item">
  <a href="{% url 'index' %}" class="menu__link active">Home</a>
</li>
<li class="menu__item">
  <a href="{% url 'model_database' %}" class="menu__link">Database</a>
</li>
<li class="menu__item">
<a href="{% url 'problem_statement' %}" class="menu__link">Problem statement</a>
</li> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  
</style>
<body>
  
</body>
</html>
